body {
    margin: 0;
    padding: 0;
    background-image: url(https://lostandtaken.com/wp-content/uploads/edd/2016/02/white-grunge-textures-1.jpg);   
}




@font-face{
    font-family:"10384";
    src: url(font/10384.otf)
}
@font-face{
    font-family:"10468";
    src: url(font/10468.ttf)
}
@font-face{
    font-family:"10427";
    src: url(font/10427.ttf)
}
@font-face{
    font-family:"P22OperinaPro";
    src: url(font/P22OperinaPro.ttf)
}
@font-face{
    font-family:"Flash_Bold";
    src: url(font/Flash_Bold.ttf)
}
header{
    width: 100%;
    height: 60px;
    background-image: url(http://dnzl.ru/images/glossy_text/b.jpg)
}
#wapka {
    margin-top: -7px;
        color: blanchedalmond;
    text-shadow: red 0 0 20px;
    font-size: 3em;
    width: -20%;
    height: 100px;
    margin-left: 650px;
 font-family:"10468";
}

#link a{
    margin-top: -90px;
    margin-right: 10px;
    color: black;
    font-size: 2em;
    float: right;
    font-family:"10468";
    text-decoration:none;
    border-left: 3px;
    background-size:contain;
}
#link a{
    text-shadow: red 0 0 20px; /* Свечение красного цвета */
}
#link2 a{
    margin-right: 20px;
    margin-top: -90px;
    margin-right: 100px;
    color: white;
    font-size: 2em;
    float: right;
    font-family:"10468";
    text-decoration:none;
    border-left: 3px;
    background-size:contain;
}


#thumb img{ 
    margin-top: 20px;
border: 2px solid #7d7e7d; 
padding: 10px; 
background: #f6f6f6;   
margin-left: 20px; 
    float: left;
    margin-left: 10px;
}

footer {
    width: 99,8%;
    height: 100px;
    padding: 0 10px;
    clear: both;
    background-image: url(http://dnzl.ru/images/glossy_text/b.jpg)
        
}

#content{
    width: 100%;
    height: 70%;
}
#stroka {
    margin: 46%;
     margin-top: 400px;
}
#igra {
    width: 40%;
    float: left;
    border: 5px solid white;
    margin-top: 100px;
    margin-left: 450px;
    
    height: 300px;
    
}

#slovo {
      width: 50%;
    font-family:"10384";
    float: right;
    font-size: -5em;
    margin-right: 55px;
}

#opisanie {
    width: 50%;
    font-family:"10427";
    float: right;
    font-size: -7em;
    border: 2px solid black;
    margin-right: 325px;
}




input.button4 {
     float: left;
     margin-left: 655px;
     margin-top: 20px;
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
input.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
input.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

#s {
       width: 50%;
    font-family:"10468";
    float: right;
    font-size: -7em;
    border: 2px solid black;
    margin-right: 325px;
}

#int2 {
    font-family: "10427";
}
#kak {
    font-family: "P22OperinaPro";
   font-size: 7em;
    color: black;
}
#tekst {
    font-family: "Flash_Bold";
    color: black;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none; 
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: black;
    cursor: pointer;
    display: inline-block; 
    font-size: 2em;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px; 
}